<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>毛友農場 Furry Friend | 購物車</title>
    <script src="https://kit.fontawesome.com/82d8748d0e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Work+Sans&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div ID="app">
        <article class="check-order">
            <div class="title">
                購物車
            </div>

            <div class="scroll">
                <div class="form-group list-title-group">


                    <div v-for="(item, index) in orderTitle" :key="index" :class="item.class">
                        <p class="list-title">{{item.title}}</p>
                    </div>
                </div>
                <hr>
                <div v-for="(item) in cartComm" :key="item.id" class="form-group">
                    <div class="order">
                        <img :src="item.imgSrc" :alt="item.name" />
                        <div>
                            <p class="infor">
                                訂單編號:<span>{{item.number}}</span><br>
                                訂單名稱:<span>{{item.name}}</span><br>
                                <span class="paid-way">線上刷卡</span>
                            </p>
                        </div>
                    </div>
                    <div class="total">
                        <p class="infor">
                            單價:$<span class="u-p">{{item.price}}</span>
                        </p>
                        <p class="infor">總計:<span class="sum"> {{total(item.price,
                                item.quantity)}}</span></span>
                        </p>
                    </div>
                    <div class="people">
                        <form id='myform' method='POST' action='#'>
                            <input type='button' value='-' class='qtyminus' field='quantity'
                                @click="updateQuantity(item, 'minus')">
                            <input type='text' name='quantity' :value="item.quantity" class='qty'>
                            <input type='button' value='+' class='qtyplus' field='quantity'
                                @click="updateQuantity(item, 'plus')">
                        </form>
                    </div>
                    <div class="date">
                        <p class="infor">2023-08-09<br>
                            14:30</p>
                    </div>
                    <div class="delete">
                        <button class="delete-button" @click="deleteComm(item.id)">
                            <i class="fa-regular fa-trash-can" style="color: black;"></i></button>

                    </div>
                </div>
                <hr>

                <div class="amount-group">
                    <div class="amount">總金額：<span>$ {{cartCommSum}}</span></div>
                    <div class="amount">總品項：<span class="cart_products_total">{{cartItemsCount}}</span></div>
                    <a class="buy" href="">再去逛逛</a>
                    <a class="buy" href="">我要買單</a>
                </div>
            </div>
    </div>
    </article>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    orderTitle: [
                        {
                            title: "訂單",
                            class: "order",
                        },
                        {
                            title: "總金額",
                            class: "total",
                        },
                        {
                            title: "人數",
                            class: "people",
                        },
                        {
                            title: "預約日期",
                            class: "date",
                        },
                        {
                            title: "刪除",
                            class: "delete",
                        },
                    ],
                    cartData: [
                        {
                            id: "1",
                            imgSrc: "animal-play01.jpg",
                            number: "123456",
                            name: "水獺餵食",
                            price: 150,
                            quantity: 1,
                        },
                        {
                            id: "2",
                            imgSrc: "animal-play02.jpg",
                            number: "123457",
                            name: "水豚餵食",
                            price: 50,
                            quantity: 2,
                        },
                        {
                            id: "3",
                            imgSrc: "animal-play04.jpg",
                            number: "123458",
                            name: "狐蒙互動",
                            price: 80,
                            quantity: 3,
                        },
                        {
                            id: "4",
                            imgSrc: "animal-play06.jpg",
                            number: "123459",
                            name: "笑笑羊餵食",
                            price: 30,
                            quantity: 1,
                        },
                    ],
                };
            },

            computed: {
                cartComm() {
                    return [...this.cartData];
                },
                cartItemsCount() {
                    return this.cartComm.length;
                },
                cartCommSum() {
                    return (
                        this.cartComm.reduce(
                            (acc, product) => acc + product.price * product.quantity, 0
                        )
                    );
                },
            },

            methods: {
                updateQuantity(item, feature) {
                    if (item.quantity === 1 && feature === "minus") return;
                    feature === "plus" ? item.quantity++ : item.quantity--;
                },
                deleteComm(id) {
                    const itemIndex = this.cartData.findIndex(
                        (item) => item.id === id
                    );
                    this.cartData.splice(itemIndex, 1);
                },
                total(price, quantity) {
                    return Math.floor(price * quantity * 10) / 10;
                },
            },
        }).mount("#app");
    </script>

</body>

</html>