<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>毛友農場 Furry Friend | 購物車</title>
    <script src="https://kit.fontawesome.com/82d8748d0e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Work+Sans&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div ID="app">
        <article class="check-order">
            <div class="title">
                購物車
            </div>

            <div class="scroll">
                <div class="form-group list-title-group">


                    <div v-for="(item, index) in orderTitle" :key="index" :class="item.class">
                        <p class="list-title">{{item.title}}</p>
                    </div>

                    <!-- <p class="list-title">訂單</p>
                    </div>
                    <div class="total">
                        <p class="list-title">總金額</p>
                    </div>
                    <div class="people">
                        <p class="list-title">人數</p>
                    </div>
                    <div class="date">
                        <p class="list-title">預約日期</p>
                    </div>
                    <div class="delete">
                        <p class="list-title">刪除</p>
                    </div> -->
                </div>
                <hr>
                <div v-for="(item) in shoppingCartProducts" :key="item.id" class="form-group">
                    <div class="order">
                        <img :src="item.imgSrc" :alt="item.name" />
                        <div>
                            <p class="infor">
                                訂單編號:<span class="no">{{item.no}}</span><br>
                                訂單名稱:<span class="name">{{item.name}}</span><br>
                                <span class="paid-way">線上刷卡</span>
                            </p>
                        </div>
                    </div>
                    <div class="total">
                        <p class="infor">
                            單價:$<span class="u-p">{{item.price}}</span>
                        </p>
                        <p class="infor">總計:<span class="sum"> {{calculatePrice(item.price,
                                item.quantity)}}</span></span>
                        </p>
                    </div>
                    <div class="people">
                        <form id='myform' method='POST' action='#'>
                            <input type='button' value='-' class='qtyminus' field='quantity'
                            @click="updateQuantityOfProduct(item, 'decrease')">
                            <input type='text' name='quantity' :value="item.quantity" class='qty'>
                            <input type='button' value='+' class='qtyplus' field='quantity'
                            @click="updateQuantityOfProduct(item, 'decrease')">
                        </form>
                    </div>
                    <div class="date">
                        <p class="infor">2023-08-09<br>
                            14:30</p>
                    </div>
                    <div class="delete">
                        <button class="delete-button"><i class="fa-regular fa-trash-can"
                                style="color: black;"></i></button>
                    </div>
                </div>
                <hr>

                <div class="amount-group">
                    <div class="amount">總金額：<span>$ {{ shoppingCartProductsSum }}</span></div>
                    <div class="amount">總品項：<span class="cart_products_total">{{ shoppingCartItemsCount}}</span></div>
                    <a class="buy" href="">再去逛逛</a>
                    <a class="buy" href="">我要買單</a>
                </div>
            </div>
    </div>
    </article>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    orderTitle: [
                        {
                            title: "訂單",
                            class: "order",
                        },
                        {
                            title: "總金額",
                            class: "total",
                        },
                        {
                            title: "人數",
                            class: "people",
                        },
                        {
                            title: "預約日期",
                            class: "date",
                        },
                        {
                            title: "刪除",
                            class: "delete",
                        },
                    ],
                    shoppingCartData: [
                        {
                            id: "111",
                            imgSrc: "animal-play01.jpg",
                            no: "123456",
                            name: "水獺餵食",
                            price: 150,
                            quantity: 1,
                        },
                        {
                            id: "222",
                            imgSrc: "animal-play02.jpg",
                            no: "123457",
                            name: "水豚餵食",
                            price: 50,
                            quantity: 2,
                        },
                        {
                            id: "333",
                            imgSrc: "animal-play04.jpg",
                            no: "123458",
                            name: "狐蒙互動",
                            price: 80,
                            quantity: 3,
                        },
                        {
                            id: "444",
                            imgSrc: "animal-play06.jpg",
                            no: "123459",
                            name: "笑笑羊餵食",
                            price: 30,
                            quantity: 1,
                        },
                    ],
                };
            },

            computed: {
                shoppingCartProducts() {
                    return [...this.shoppingCartData];
                },

                shoppingCartItemsCount() {
                    return this.shoppingCartProducts.length;
                },

                shoppingCartProductsSum() {
                    return (
                        this.shoppingCartProducts.reduce(
                            (acc, product) => acc + product.price * product.quantity,0
                        )
                    );
                },
            },

            methods: {
                updateQuantityOfProduct(item, feature) {
                    // const item = this.shoppingCartData.find((item) => item.id === id);

                    if (item.quantity === 1 && feature === "decrease") return;
                    feature === "increase" ? item.quantity++ : item.quantity--;
                },

                deleteProduct(id) {
                    const itemIndex = this.shoppingCartData.findIndex(
                        (item) => item.id === id
                    );

                    this.shoppingCartData.splice(itemIndex, 1);
                },

                calculatePrice(price, quantity) {
                    return Math.floor(price * quantity * 10) / 10;
                },
            },
        });
        app.mount("#app");
    </script>

</body>

</html>